.m-login-prompt

    //width: 400px
    margin: 50px auto 0px
    text-align: center
    
    .note
        margin-bottom: 30px
        display: inline-block
        color: #777
        background: #eee
        padding: 2px 5px
    
    .m-branding-image
        margin-bottom: 50px

    .input-field
        margin: 10px 0px
        
        .fa-user, .fa-lock
            font-size: 20px
            color: #999
            width: 70px
            margin-left: 30px
            text-align: center
            vertical-align: middle
        
        input
            font-size: 18px
            border: none

    button[type=submit]
        margin-top: 30px
        width: 350px
        font-size: 25px
        line-height: 1.8
