<div class="m-page-header row">
    <div class="cell">
        <h1>Content Trigger</h1>
    </div>
    
    <div class="cell pull-right">
        {{#link-to "apps.content_trigger.new" class="btn btn-lg"}}New Content Trigger{{/link-to}}
    </div>
</div>

<table class="m-content-triggers">
    <thead>
        <tr>
            <th>Content Trigger Title</th>
            <th>User Group</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        {{#each model}}
        <tr>
            <td>{{#link-to "apps.content_trigger.view" this}}{{title}}{{/link-to}}</td>
            <td>Receiving</td>
            <td>Edit <i class="fa fa-edit"></i></td>
        </tr>
        {{/each}}
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </tbody>
</table>
