{{#if isLoggedIn}}
    <div class="nav-tabs">
        {{#link-to "apps" class="tab"}}Apps{{/link-to}}
        {{#link-to "contact_us" class="tab"}}Contact{{/link-to}}
        {{#link-to "logout" class="tab"}}Log Out{{/link-to}}
    </div>
    <div class="container">
        {{outlet}}
    </div>
{{else}}
    <div class="container">
        {{outlet}}
    </div>
{{/if}}
