{{bs-growl-notifications}}
{{bs-notifications style="z-index: 1000; position: fixed; width: 50%; left: 0; right: 0; margin-left: auto; margin-right: auto; margin-top: 50px;"}}
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Augmate</a>
        </div>
        <ul class="navbar-form navbar-right">
            {{#link-to 'login'}}Login{{/link-to}}
        </ul>
    </div>
</nav>
<div class="container">
    {{outlet}}
</div>