<div class="m-page-header">
    <h1>App Templates</h1>
</div>

<div class="m-app-list">

    {{#link-to "apps.content_trigger.index" class="app-item"}}Content Trigger{{/link-to}}

    <a class="app-item coming-soon">Alerts (Coming Soon)</a>
    <a class="app-item coming-soon">Reference Library (Coming Soon)</a>

</div>