<form class="m-login-prompt" {{action "loginUser" on="submit"}}>

    <div class="m-branding-image">
        <img src="http://placehold.it/350x300" />
    </div>
    
    <div class="login-box">
        <div class="note">login hint: officialApiClient/C0FFEE</div>
    
        <div class="input-field">
            <i class="fa fa-user"></i>
            {{input type="text" value=username placeholder="Username"}}
        </div>
        <div class="input-field">
            <i class="fa fa-lock"></i>
            {{input type="password" value=password placeholder="Password"}}
        </div>
    
        <button class="btn btn-lg btn-primary" type="submit">log in</button>
    </div>
</form>

{{outlet}}
